<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkWiseSA"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".authentication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.workwise.home"
            android:exported="false"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.workwise.setting"
            android:exported="false"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.workwise.community"
            android:exported="false"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.workwise.nearme"
            android:exported="true"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.workwise.chat.chatActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.workwise.settings.settingsprofile"
            android:exported="false"/>

        <activity
            android:name="com.workwise.cv.managecv"
            android:exported="false" />

        <activity
            android:name="com.workwise.settings.settingsqualifications"
            android:label="My Qualifications"
            android:parentActivityName=".setting"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false"/>

        <activity
            android:name="com.workwise.settings.settingsviewsavedjobs"
            android:label="Saved Jobs"
            android:parentActivityName=".home"
            android:exported="false" />

        <activity
            android:name=".email.forgotPassword"
            android:exported="false"/>
        <activity
            android:name=".email.resetPassword"
            android:exported="false"/>
        <activity
            android:name=".email.verifyResetCode"
            android:exported="false"/>

        <activity
            android:name="com.workwise.pdfviewer.pdfviewer"
            android:theme="@style/Theme.WorkWise.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.workwise.resources.CvTipsActivity"
            android:label="CV Builder Tips"
            android:parentActivityName=".home"
            android:exported="false" />
        <activity
            android:name="com.workwise.resources.InterviewTipsActivity"
            android:label="Interview Tips"
            android:parentActivityName=".home"
            android:exported="false" />
        <activity
            android:name=".jobs.JobSearchActivity"
            android:label="Job Search"
            android:parentActivityName=".home"
            android:exported="false" />

        <activity
            android:name=".assessment.SkillAssessmentActivity"
            android:label="Skill Assessment"
            android:parentActivityName=".home"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>
